footer {
	background-color: #eee;
	padding: $container;
	list-style: $none;
	font-size: 11px;

	img {
		padding: $container;
	}

	.border {
		border-left: 1px solid white;
	}
	.border-bottom {
		padding: 20px 0px;
		border-bottom: 1px solid white;
	}
	.diarios {
		padding: $container;
		text-align: center;
		p, li {
			color: gray;
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color:gray;

			&:hover {
				text-decoration: $none;
			}
		}
	}
}
